html body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,th,td,img,em,hr{margin:0;padding:0;-webkit-text-size-adjust:none}

/**改版**/
html,body{
	width:100%;
	height:100%;
}
.loginPage{
	width:100%;
	height:100%;
	background:url(../img/login_bg.jpg) 0 0 no-repeat;
	background-size: 100% 100%;
	box-sizing: content-box;
}
.loginPage .loginBox{
	width:52%;
	height:55.6%;
	position: absolute;
	top:22.2%;
	margin-left:24%;
}

.loginPage .loginBox .login_pic{
	float:left;
	display:inline-block;
	width:55%;
	height:100%;
	background:url(../img/login_info_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
.loginPage .loginBox .login_input{
	float:left;
	display:inline-block;
	width:45%;
	height:100%;
	background-color:#fff;
}

.loginPage .loginBox .login_input .login_logo{
	text-align: center;
	margin-top:10%;
}
.loginPage .loginBox .login_input .logo_tip{
	margin-top:5px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color:#666;
}
.loginPage .loginBox .login_input .inputBar{
	width:100%;
	margin-top:8.3%;
	padding:0 11%;
	box-sizing: border-box;
}





