<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=cGT9892RVDdKkeIKM2f1d8pX"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive="aplants"></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftecology leftactive="hjjc"></leftecology>
			<!-- 右侧 --><!--巡护时间分析-->
			<div class="view-date" style="padding-left: 226px;">
			     <div class="view-header-wrap wth-view-header" style="z-index: 1">
					<div class="view-header">
						<div class="view-header">
							<button class="list_form_btn" @click="jumpPage">列表</button>
							<button class="list_form_btn active">图表</button>
						</div>
					</div>
			    </div>
			     <div>
			    	<el-row>
						<el-col :span="24">
							<div class="grid-content" style="position: relative;">
								<chart :options="polar_1" ref="pie_1" id="achart_1"></chart>
								<div style="position: absolute;top:30px;right:22%;width:100px; line-height: 64px;">
									<el-select v-model="searchStation_1" clearable placeholder="温度" @change="selectStation_1" style="width:100%;">
										<el-option
										  v-for="item in option_station_1"
										  :key="item.value"
										  :label="item.label"
										  :value="item.value">
										</el-option>
									</el-select>
								</div>
							</div>
						</el-col>
					</el-row>
			     </div>
				</br></br></br></br></br></br></br></br>
			</div>
		</div>
	</div>
	
</body>
</html>
<script>
document.getElementById("achart_1").style.width = document.body.clientWidth - 320;
window.onresize = function () {
    document.getElementById("achart_1").style.width = document.body.clientWidth - 320;
	app.size = document.body.clientWidth;
};
var chartData_1 = {
	title:{
		text:"环境监测",
		textStyle: {  
			fontWeight:'normal', 
			color:'#fff'  
		},
		x:"10%"
	},
	tooltip:{
		trigger:"axis",
		axisPointer:{
			type:"cross",
			crossStyle:{
				color:"#999"
			}
		}
	},
	toolbox:{
		show:"true",
		iconStyle:{
			normal:{
				color:"rgba(0, 0, 0, 0.2)",
				borderColor:"#fff"
			}
		},
		feature:{
			dataView:{"readonly":false},
			magicType:{type:["bar","line"]},
			restore:{},
			saveAsImage:{}
		},
		itemSize:20
		
	},
	dataZoom :[
		{
			type: 'slider',
			show: true,
			xAxisIndex: [0],
			handleSize: 20,
			height: 12,
			left: 130, 
			right: 130,
			bottom: 10,
			handleColor: '#5182E4',
			handleStyle: {
				borderColor: "#BABAC0",
				borderWidth: 2,
				shadowBlur: 2,
				background: "#BABAC0",
				shadowColor: "#BABAC0",
			},
			fillerColor:"#BABAC0",
			backgroundColor: "#fff",
			showDataShadow: true,
			showDetail: false,
			handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
			filterMode: 'filter',
			"start": "0",
            "end": "100"
		},
		{
			type: 'inside',
			show: true,
			moveOnMouseMove:true,
			zoomOnMouseWheel:false
		}
	],
	backgroundColor:"#24263E",
	xAxis:[
		{
			type:"category",
			axisLine:{  
				lineStyle:{  
					color:'#BABAC0',  
					width:1  
				}  
			}
		}
	],
	yAxis:[
		{
			name:"",
			type:"value",
			axisLine:{  
				lineStyle:{  
					color:'#BABAC0',  
					width:1  
				}  
			},
			axisLabel:{
				formatter:function (value, index){}
			},
			min:0
		}
	],
	"series":[
		{
			"name":"",
			"type":"line"
		}
	],
	"color": ["#00FFFF","#5083E5","#9bcc66","#f35352","#3fb27e","#f88d48","#ca8622","#bda29a","#6e7074","#546570","#c4ccd3"]
};
var app = new Vue({
  el: '#app',
  components: {
    // <my-component> 将只在父模板可用
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftecology:leftecology
  },
  data: {
	once:true,
	size:'',
	formData:[],
	//各站点总的动物数量
	option_station_1: [{
	  value: 0,
	  label: '温度'
	  },{
	  value: 1,
	  label: '湿度'
	  },{
	  value: 2,
	  label: 'CO2'
	  },{
	  value: 3,
	  label: '臭氧'
	  },{
	  value: 4,
	  label: '光照'
	  },{
	  value: 5,
	  label: '噪音'
	  },{
	  value: 6,
	  label: '气压'
	  },{
	  value: 7,
	  label: '风力'
	  }],
	searchStation_1: '',
	timelist_1:[],
	totallist_1:[[],[],[],[],[],[],[],[]],
	polar_1:{},
  },
  methods:{
	  getonce:function(){ 
		this.$http({url:"../../localDataTest/environmentData.json",method:"GET"}).then(
		  function(res){
			 //保护区每日发现动物数量种类
			 app.formData = res;
			 //各站点总动物数量
			 res.body[0].forEach(function(item){
				app.timelist_1.push(item.date); 
				app.totallist_1[0].push(item.temperature);
				app.totallist_1[1].push(item.humidity);
				app.totallist_1[2].push(item.co2);
				app.totallist_1[3].push(item.ozone);
				app.totallist_1[4].push(item.illumination);
				app.totallist_1[5].push(item.noise);
				app.totallist_1[6].push(item.pressure);
				app.totallist_1[7].push(item.windpower);
			 });
			 chartData_1.xAxis[0].data = app.timelist_1;
			 chartData_1.series[0].data = app.totallist_1[0]; 
			 this.polar_1 = chartData_1;
			  
			 },function(){
				alert('分析数据请求失败'); //失败处理       
			 }
		);
	  },
	  selectStation_1:function(){
		  if(this.searchStation_1 !==''){
			  chartData_1.series[0].data = app.totallist_1[this.searchStation_1];
		  }
	  },
	  jumpPage:function(){
		  window.location.href = "evvironmentAnalysis_1_list.html";
	  }
	  
 },
 watch:{
	size:function(){
		this.$refs.pie_1.resize();
	}
}
});
app.getonce();

</script>