<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<link rel="stylesheet" href="../../js/skin/layer.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/layer.js"></script>
    
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive=""></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftsystem leftactive="yhqxpz"></leftsystem>
			<!-- 右侧 --><!--数据管理界面-->
			<div class="contentbody" v-show="!changePage">
			    <div class="view-date" style="padding-left: 226px;" id="dataManage" v-show="!changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							用户角色权限配置
						</h2>
					</div>
				</div>
				<div>
					<el-row>
						<p style="color:#fff;font-size:16px;margin-bottom:5px">站点一</p>
						<table class="table-normal database-table table-center" style="width:100%;opacity: 0.9;">
							<thead>
								<tr>
									<th class="db">姓名</th>
									<th class="db">角色</th>
									<th class="db">权限一</th>
									<th class="db">权限二</th>
									<th class="db">权限三</th>
									<th class="db">权限四</th>
									<th class="db">权限五</th>
									<th class="db">权限六</th>
									<th class="db">权限七</th>
									<th class="db">权限八</th>
									<th class="db">权限九</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in tableData_1">
									<td><span :title="user.name" class="fs12">{{user.name}}</span></td>
									<td><span :title="user.job" class="fs12">{{user.job}}</span></td>
									<td><span :title="user.power[0]" class="fs18">{{user.power[0]}}</span></td>
									<td><span :title="user.power[1]" class="fs18">{{user.power[1]}}</span></td>
									<td><span :title="user.power[2]" class="fs18">{{user.power[2]}}</span></td>
									<td><span :title="user.power[3]" class="fs18">{{user.power[3]}}</span></td>
									<td><span :title="user.power[4]" class="fs18">{{user.power[4]}}</span></td>
									<td><span :title="user.power[5]" class="fs18">{{user.power[5]}}</span></td>
									<td><span :title="user.power[6]" class="fs18">{{user.power[6]}}</span></td>
									<td><span :title="user.power[7]" class="fs18">{{user.power[7]}}</span></td>
									<td><span :title="user.power[8]" class="fs18">{{user.power[8]}}</span></td>
								</tr>
							</tbody>
						</table>
						<br/>
					</el-row>
					<el-row>
						<p style="color:#fff;font-size:16px;margin-bottom:5px">站点二</p>
						<table class="table-normal database-table table-left" style="width:100%;opacity: 0.9;">
							<thead>
								<tr>
									<th class="db">姓名</th>
									<th class="db">角色</th>
									<th class="db">权限一</th>
									<th class="db">权限二</th>
									<th class="db">权限三</th>
									<th class="db">权限四</th>
									<th class="db">权限五</th>
									<th class="db">权限六</th>
									<th class="db">权限七</th>
									<th class="db">权限八</th>
									<th class="db">权限九</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in tableData_2">
									<td><span :title="user.name" class="fs12">{{user.name}}</span></td>
									<td><span :title="user.job" class="fs12">{{user.job}}</span></td>
									<td><span :title="user.power[0]" class="fs18">{{user.power[0]}}</span></td>
									<td><span :title="user.power[1]" class="fs18">{{user.power[1]}}</span></td>
									<td><span :title="user.power[2]" class="fs18">{{user.power[2]}}</span></td>
									<td><span :title="user.power[3]" class="fs18">{{user.power[3]}}</span></td>
									<td><span :title="user.power[4]" class="fs18">{{user.power[4]}}</span></td>
									<td><span :title="user.power[5]" class="fs18">{{user.power[5]}}</span></td>
									<td><span :title="user.power[6]" class="fs18">{{user.power[6]}}</span></td>
									<td><span :title="user.power[7]" class="fs18">{{user.power[7]}}</span></td>
									<td><span :title="user.power[8]" class="fs18">{{user.power[8]}}</span></td>
								</tr>
							</tbody>
						</table>
					</el-row>
					<el-row>
						<p style="color:#fff;font-size:16px;margin-bottom:5px">站点三</p>
						<table class="table-normal database-table table-left" style="width:100%;opacity: 0.9;">
							<thead>
								<tr>
									<th class="db">姓名</th>
									<th class="db">角色</th>
									<th class="db">权限一</th>
									<th class="db">权限二</th>
									<th class="db">权限三</th>
									<th class="db">权限四</th>
									<th class="db">权限五</th>
									<th class="db">权限六</th>
									<th class="db">权限七</th>
									<th class="db">权限八</th>
									<th class="db">权限九</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="user in tableData_3">
									<td><span :title="user.name" class="fs12">{{user.name}}</span></td>
									<td><span :title="user.job" class="fs12">{{user.job}}</span></td>
									<td><span :title="user.power[0]" class="fs18">{{user.power[0]}}</span></td>
									<td><span :title="user.power[1]" class="fs18">{{user.power[1]}}</span></td>
									<td><span :title="user.power[2]" class="fs18">{{user.power[2]}}</span></td>
									<td><span :title="user.power[3]" class="fs18">{{user.power[3]}}</span></td>
									<td><span :title="user.power[4]" class="fs18">{{user.power[4]}}</span></td>
									<td><span :title="user.power[5]" class="fs18">{{user.power[5]}}</span></td>
									<td><span :title="user.power[6]" class="fs18">{{user.power[6]}}</span></td>
									<td><span :title="user.power[7]" class="fs18">{{user.power[7]}}</span></td>
									<td><span :title="user.power[8]" class="fs18">{{user.power[8]}}</span></td>
								</tr>
							</tbody>
						</table>
					</el-row>
				</div>
				
				
				<br/><br/>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
//const cityOptions = ['角色功能1', '角色功能2', '角色功能3', '角色功能4','角色功能5'];
var app = new Vue({
  el: '#app',
  components: {
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftsystem:leftsystem
  },
  data: {
	once:true,
	tableData:[],
	tableData_1:[],
	tableData_2:[],
	tableData_3:[],
  },
  methods:{
	  getonce:function(){ 
		/////获取通知公告数据
		$.ajax({
			type: "get",
			//dataType: "json",
			url: "../../localDataTest/roleData.json",
			beforeSend: function( xhr ) { 
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
			},
			success: function (data) {
				if (data != "") {
					app.tableData = data;
					app.tableData.forEach(function(item){
						var power = ["--","--","--","--","--","--","--","--","--"];
						if(item.power.indexOf("1") > -1){power[0] = "√";}
						if(item.power.indexOf("2") > -1){power[1] = "√";}
						if(item.power.indexOf("3") > -1){power[2] = "√";}
						if(item.power.indexOf("4") > -1){power[3] = "√";}
						if(item.power.indexOf("5") > -1){power[4] = "√";}
						if(item.power.indexOf("6") > -1){power[5] = "√";}
						if(item.power.indexOf("7") > -1){power[6] = "√";}
						if(item.power.indexOf("8") > -1){power[7] = "√";}
						if(item.power.indexOf("9") > -1){power[8] = "√";}
						item.power = power;
						switch(item.station){
							case "站点一":
								app.tableData_1.push(item);
								break;
							case "站点二":
								app.tableData_2.push(item);
								break;
							case "站点三":
								app.tableData_3.push(item);
								break;
						}
					});
					
					
					
					
				}
			}
		});
	  }
  } 
});

app.getonce();
</script>