<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<link rel="stylesheet" href="../../js/skin/layer.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/layer.js"></script>
    
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	<!--引入xlsx插件-->
	<script src="https://cdn.bootcss.com/xlsx/0.11.4/xlsx.full.min.js"></script>
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive=""></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftsystem leftactive="yhgl"></leftsystem>
			<!-- 右侧 --><!--数据管理界面-->
			<div class="contentbody" v-show="!changePage">
				<div class="view-date" style="padding-left: 226px;" id="dataManage" v-show="!changePage">
					<div class="view-header-wrap wth-view-header">
						<div class="view-header">
							<h2 class="nowrap with-tail-btn" title="总演示数据">
								用户管理
							</h2>
						</div>
						<div style="right:5%;position: absolute;z-index: 999999; line-height: 64px;">
							<a id="downlink"></a>
						    <a class="file">
						    	导入<input type="file" onchange="importf(this)" style="position: absolute;left:0;"/>
						    </a>
						    <el-button type="primary" id="additem_plant" @click="downloadFile(excelData)">导出</el-button>
							<el-button type="primary" id="additem_plant" @click="addItemPage()">新增记录</el-button>
							<el-select v-model="searchType" clearable placeholder="名称" style="width:100px;">
								<el-option
								  v-for="item in option_search"
								  :key="item.value"
								  :label="item.label"
								  :value="item.value">
								</el-option>
							</el-select>
						    <el-input
							  placeholder="请输入相关搜索内容"
							  icon="search"
							  v-model="searchContent"
							  :on-icon-click="handleIconClick"
							  style="width:200px;">
							</el-input>
						</div>
					</div>
					<el-table :data="excelData" max-height="800"  border>
					    <el-table-column label="姓名" prop="name" show-overflow-tooltip></el-table-column>
						<el-table-column label="用户名" prop="username" show-overflow-tooltip></el-table-column>
						<el-table-column label="用户密码" prop="userpassword" show-overflow-tooltip></el-table-column>
						<el-table-column label="保护站" prop="station" show-overflow-tooltip></el-table-column>
						<el-table-column label="手机号码" prop="phone" show-overflow-tooltip></el-table-column>
						<el-table-column label="职位" prop="job" show-overflow-tooltip></el-table-column>
						<el-table-column label="性别" prop="sex" show-overflow-tooltip></el-table-column>
						<el-table-column label="入职时间" prop="joinTime" show-overflow-tooltip></el-table-column>
						<el-table-column label="离职时间" prop="leaveTime" show-overflow-tooltip></el-table-column>
						<el-table-column label="状态" prop="state" show-overflow-tooltip></el-table-column>
						<el-table-column label="启用状态" prop="usestate" show-overflow-tooltip></el-table-column>
						<el-table-column  label="编辑" width="150">
							<template scope="scope">
								<el-button id='change' @click="modifyItem($event,excelData)" type="text" size="small">修改</el-button>
								<el-button @click="deleteItem($event)" type="text" size="small">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
					</br>
					<div>
						<div v-show="totaldata > 10" style="text-align:right;margin-right:5%;">
							<el-pagination
							  @current-change="pageCurrentChange"
							  layout="total,prev, pager, next, jumper"
							  :page-size="10"
							  :total=totaldata>
							</el-pagination>
					    </div>
					</div>
					<br/><br/><br/>
						
				</div>
				
			</div>
			<!--新增记录界面-->
			<div class="view-date" style="padding-left: 226px;" id="addItemPage" v-show="changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							用户管理
						</h2>
					</div>
				</div>
				<div class="add_item">
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<div class="add_item_baseinfo">
						<div class="item_title">
							<el-row>
								<el-col><span style="margin-left:10px;">基本信息</span></el-col>
							</el-row>
						</div>
						<div class="item_content">
	                        <el-row :gutter="20" class="pt8">
								<el-col :span="9">
								    <el-form-item label="姓名" prop="name" required>
									    <el-input v-model.trim="ruleForm.name"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="9">
								    <el-form-item label="保护站" prop="station" required>
										<el-select v-model="ruleForm.station" placeholder="保护站1">
										    <el-option label="保护站1" value="1"></el-option>
										    <el-option label="保护站2" value="2"></el-option>
										    <el-option label="保护站3" value="3"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
								<el-col :span="9">
								    <el-form-item label="用户名" prop="username" required>
									    <el-input v-model.trim="ruleForm.username"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="9">
								    <el-form-item label="用户密码" prop="userpassword" required>
									    <el-input v-model.trim="ruleForm.userpassword"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
							    <el-col :span="9">
                                    <el-form-item label="性别" prop="sex" required>
										<el-select v-model="ruleForm.sex" placeholder="女">
										    <el-option label="女" value="女"></el-option>
										    <el-option label="男" value="男"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="9">
								  	<el-form-item label="手机号码" prop="phone" required>
									    <el-input v-model.trim="ruleForm.phone"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
							  <el-col :span="9">
							  	<el-form-item label="入职时间" required>
								  <el-form-item prop="joinTime">
									<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.joinTime"></el-date-picker>
								  </el-form-item>
							  </el-col>
							  <el-col :span="9">
							  	<el-form-item label="离职时间" required>
								  <el-form-item prop="leaveTime">
									<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.leaveTime"></el-date-picker>
								  </el-form-item>
							  </el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
                                <el-col :span="9">
									<el-form-item label="邮箱" prop="email" required>
									    <el-input v-model.trim="ruleForm.email"></el-input>
									</el-form-item>
								</el-col>
                                <el-col :span="9">
                                    <el-form-item label="状态" prop="state" required>
										<el-select v-model="ruleForm.state" placeholder="正常">
										    <el-option label="正常" value="正常"></el-option>
										    <el-option label="休假" value="休假"></el-option>
										    <el-option label="离职" value="离职"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
								<el-col :span="9">
                                    <el-form-item label="启用状态" prop="usestate" required>
										<el-select v-model="ruleForm.usestate" placeholder="启用">
										    <el-option label="启用" value="启用"></el-option>
										    <el-option label="停用" value="停用"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
						</div>
						<div class="item_title">
							<el-row>
								<el-col><span style="margin-left:10px;">角色权限配置</span></el-col>
							</el-row>
						</div>
						<div class="item_content">
							<el-row :gutter="20" class="pt8">
								<el-col :span="9">
									<el-form-item label="分配角色" prop="job" required>
										<el-select v-model="ruleForm.job" placeholder="超级管理员">
											<el-option label="超级管理员" value="角色0"></el-option>
											<el-option label="保护区管理员" value="角色1"></el-option>
											<el-option label="保护站管理员" value="角色2"></el-option>
											<el-option label="资料录入员" value="角色3"></el-option>
											<el-option label="巡护员" value="角色4"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
								<el-col :span="24">
									<el-form-item label="权限分配" prop="power" required>
										<el-checkbox-group v-model="ruleForm.power">
											<el-checkbox label="1">权限一</el-checkbox>
											<el-checkbox label="2">权限二</el-checkbox>
											<el-checkbox label="3">权限三</el-checkbox>
											<el-checkbox label="4">权限四</el-checkbox>
											<el-checkbox label="5">权限五</el-checkbox>
											<el-checkbox label="6">权限六</el-checkbox>
											<el-checkbox label="7">权限七</el-checkbox>
											<el-checkbox label="8">权限八</el-checkbox>
											<el-checkbox label="9">权限九</el-checkbox>
										</el-checkbox-group>
									</el-form-item>
								</el-col>
							</el-row>
						</div>
					</div>
					
					
					<div class="add_item_plantinfo">
						<div class="item_confirm">
							<el-form-item style="margin-left:-100px;" v-show="creatItem">
								<el-button @click="addItem('ruleForm')">创建</el-button>
								<el-button @click="addItemCancel('ruleForm')">取消</el-button>
							</el-form-item>
							<el-form-item style="margin-left:-100px;" v-show="!creatItem">
								<el-button @click="modify('ruleForm')">提交修改</el-button>
								<el-button @click="modifyCancel('ruleForm')">取消修改</el-button>
							</el-form-item>
						</div>
					</div>
				</el-form>
				</div>
				<!--GPS地图-->
				<div class="selectGPS">
				  <div id="GPSmap"></div>
			    </div>
				</br></br></br></br></br></br></br>
			</div>
		</div>
	</div>
</body>
</html>
<script>
var wb;//读取完成的数据 
var rABS = false; //是否将文件读取为二进制字符串

var app = new Vue({
  el: '#app',
  components: {
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftsystem:leftsystem
  },
  data: {
	once:true,
	outFile: '',
	changePage:false,
	creatItem:true,
	tableData:[],
	totaldata:0,
	obj:{station:"全站",pageIndex:1,pageSize:10,behavior:"觅食",id:"张三"},  //五个关键数据：站点、人名、生境、页码、每页数量 后续搜索功能也要用  初始进入默认加载全部数据
	dynamicValidateForm: {
        domains: [{
            value: ''
        }],
        email: ''
    },
    option_search: [
		{
	        value: 'name',
	        label: '名称'
	    }, {
	        value: 'type',
	        label: '类型'
	    }
	],
	searchType: '',
	searchContent:'', 
	dataBox:{},
	ruleForm: {
		name:'',
		station:'',
		username:'',
        userpassword:'',
        sex:'',
        phone:'',
		joinTime:'',
		leaveTime:'',
        email:'',
        state:'',
        usestate:'',
		job:'',
		power:[]
	},
	rules: {
		name:[
            { required: true, message: '请输入姓名'},
		    { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
		],
		station:[
            { required: true, message: '请选择保护站', trigger: 'change' }
		],
		username:[
            { required: true, message: '请输入用户名'},
		    { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
		],
		userpassword:[
            { required: true, message: '请输入用户密码'},
		    { min: 2, max: 10, message: '长度在 2 到 10 个字符', trigger: 'blur' }
		],
		sex:[
            { required: true, message: '请选择性别', trigger: 'change' }
		],
		phone:[
            { required: true, message: '请输入电话号码'}
		],
	    joinTime: [
		    { type: 'date', required: true, message: '请选择开始日期', trigger: 'change' }
	    ],
		email:[
            { required: true, message: '请输入邮箱'},
		    { pattern:/^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/, message: '邮箱必须为邮箱形式'}
	    ],
	    state:[
            { required: true, message: '请选择状态', trigger: 'change' }
	    ],
	    usestate:[
            { required: true, message: '请选择启用状态', trigger: 'change' }
	    ],
		job:[
            { required: true, message: '请选择人员角色', trigger: 'change' } 
		],
		power: [
            { type: 'array', required: true, message: '请至少选择一个权限', trigger: 'change' }
        ]
	},
	excelData:[]
  },
  mounted(){
  	this.outFile = document.getElementById('downlink')
  },
  methods:{
  	downloadFile: function (rs) { // 点击导出按钮
	  let data = [{}]
	  for (let k in rs[0]) {
	    data[0][k] = k
	  }
	  data = data.concat(rs)
	  this.downloadExl(data, '用户管理统计表')
	},
	downloadExl: function (json, downName, type) {  // 导出到excel
	  let keyMap = [] // 获取键
	  for (let k in json[0]) {
	    keyMap.push(k)
	  }
	  console.info('keyMap', keyMap, json)
	  let tmpdata = [] // 用来保存转换好的json
	  json.map((v, i) => keyMap.map((k, j) => Object.assign({}, {
	    v: v[k],
	    position: (j > 25 ? this.getCharCol(j) : String.fromCharCode(65 + j)) + (i + 1)
	  }))).reduce((prev, next) => prev.concat(next)).forEach(function (v) {
	    tmpdata[v.position] = {
	      v: v.v
	    }
	  })
	  let outputPos = Object.keys(tmpdata)  // 设置区域,比如表格从A1到D10
	  let tmpWB = {
	    SheetNames: ['mySheet'], // 保存的表标题
	    Sheets: {
	      'mySheet': Object.assign({},
	        tmpdata, // 内容
	        {
	          '!ref': outputPos[0] + ':' + outputPos[outputPos.length - 1] // 设置填充区域
	        })
	    }
	  }
	  let tmpDown = new Blob([this.s2ab(XLSX.write(tmpWB,
	    {bookType: (type === undefined ? 'xlsx' : type), bookSST: false, type: 'binary'} // 这里的数据是用来定义导出的格式类型
	  ))], {
	    type: ''
	  })  // 创建二进制对象写入转换好的字节流
	  var href = URL.createObjectURL(tmpDown)  // 创建对象超链接
	  this.outFile.download = downName + '.xlsx'  // 下载名称
	  this.outFile.href = href  // 绑定a标签
	  this.outFile.click()  // 模拟点击实现下载
	  setTimeout(function () {  // 延时释放
	    URL.revokeObjectURL(tmpDown) // 用URL.revokeObjectURL()来释放这个object URL
	  }, 100)
	},
	s2ab: function (s) { // 字符串转字符流
	  var buf = new ArrayBuffer(s.length)
	  var view = new Uint8Array(buf)
	  for (var i = 0; i !== s.length; ++i) {
	    view[i] = s.charCodeAt(i) & 0xFF
	  }
	  return buf
	},
	  getonce:function(){ 
		/////获取通知公告数据
		$.ajax({
			type: "get",
			dataType: "json",
			url: "../../localDataTest/roleData.json",
			//data: app.obj,    不做筛选 默认加载全部数据
			beforeSend: function( xhr ) { 
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
			}, 
			success: function (data) {
				console.log(data)
				if (data != "") {
					app.excelData = data
					app.totaldata = app.excelData.length;
				}
			}
		});
		
	  },
	  pageCurrentChange:function(val){
		  //更新页码
		  app.obj.pageIndex = val;
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.excelData.length;
					app.once = true;
					console.log(app.totaldata);
				}
		  });
	  },
	  handleIconClick:function(){
		  if(!this.searchType){alert("请选择搜索类型");return}
		  if(!this.searchContent){alert("请输入搜索内容");return}
		  switch(this.searchType){
			  case "station":
				  app.obj.station = this.searchContent;
				  break;
			  case "id":
				  app.obj.id = this.searchContent;
				  break;
			  case "habitat":
				  app.obj.habitat = this.searchContent;
				  break;
		  }
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
			  }else{    //数据为空的提示
				  alert("暂无相关数据") //测试暂做简单处理 后期以页面字段提示
			  }
		  });
	  },
	  //新增记录页面跳转
	  addItemPage:function(){
		  app.changePage = true;
		  app.creatItem = true;
	  },
	  // Import:function(){},
	  // Export:function(){},
	  //打开gps选址
	  showGPSmap:function(){
		  $(".selectGPS").css("display","block");
		  var map = new BMap.Map("GPSmap");
		  var point = new BMap.Point(115.996112, 29.547892);
		  map.enableScrollWheelZoom(); 
	      map.centerAndZoom(point, 15);
		  var marker = new BMap.Marker(point);  // 创建标注
	      map.addOverlay(marker);               // 将标注添加到地图中
	      marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
		  map.addEventListener("mousemove",function(e){  //鼠标移动显示坐标
			  //console.log(e.point.lng + "," + e.point.lat);
		  });
		  map.addEventListener("click",function(e){   //鼠标点击定位坐标
				  //询问框
				layer.confirm('已选定经纬坐标：'+e.point.lng + " / " + e.point.lat, {
				  btn: ['确认定位','重新定位'] //按钮
				}, function(){
					layer.msg('定位成功',{time:700},{icon: 1} );
				  app.ruleForm.gps = e.point.lng + "," + e.point.lat;
				  $(".selectGPS").css("display","none");
				  //layer.msg('的确很重要', {icon: 1});
				}, function(){
				  app.ruleForm.gps ="";
				  layer.msg('请重新定位');
			  });
		  });
	  },
	  //新增提交
	  addItem(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交创建代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
	  //取消新增
	  addItemCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //修改提交
	  modify:function(formName){
		  this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交修改代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
	  },
	  //取消修改
	  modifyCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //修改记录跳转
	  modifyItem:function(event,excelData){
		  var line = event.currentTarget.parentNode.parentNode.parentNode;
		  	  $(line).on('click',this.index,'#change',function()
		  	  {
				var $num = $(line).index();
		  	  	dataBox = app.excelData;
				app.creatItem = false;
				console.log(dataBox)
				//遍历？待优化
				if(app.ruleForm.leaveTime != "无"){
					app.ruleForm.leaveTime = dataBox[$num].leaveTime;
				}
				app.ruleForm.name = dataBox[$num].name;
				app.ruleForm.station = dataBox[$num].station; 
				app.ruleForm.username = dataBox[$num].username;
				app.ruleForm.userpassword = dataBox[$num].userpassword;
				app.ruleForm.sex = dataBox[$num].sex;
				app.ruleForm.phone = dataBox[$num].phone;
				app.ruleForm.joinTime = dataBox[$num].joinTime;
				app.ruleForm.email = dataBox[$num].email;
				app.ruleForm.state = dataBox[$num].state;
				app.ruleForm.usestate = dataBox[$num].usestate;
				app.ruleForm.job = dataBox[$num].job;
				app.ruleForm.power = dataBox[$num].power;
				app.changePage = true;
		  	  })
	  },
	  //删除记录
	  deleteItem:function(event){

	  }
  } 
});

app.getonce();
function importf(obj) {//导入
    if(!obj.files) {
        return;
    }
    var f = obj.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
        var data = e.target.result;
        if(rABS) {
            wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                type: 'base64'
            });
        } else {
            wb = XLSX.read(data, {
                type: 'binary'
            });
        }
        //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
        //wb.Sheets[Sheet名]获取第一个Sheet的数据
    	var formData = [];
    	var formCode = [];
    	formData = ( XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]) )
    	console.log(formData)
    };
    if(rABS) {
        reader.readAsArrayBuffer(f);
    } else {
        reader.readAsBinaryString(f);
    }
}

function fixdata(data) { //文件流转BinaryString
    var o = "",
        l = 0,
        w = 10240;
    for(; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
    o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
    return o;
}
</script>