<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<link rel="stylesheet" href="../../js/skin/layer.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/layer.js"></script>
    
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive=""></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftsystem leftactive="zzjgfx"></leftsystem>
			<!-- 右侧 --><!--数据管理界面-->
			<div class="contentbody" v-show="!changePage">
			<div class="view-date" style="padding-left: 226px;" id="dataManage" v-show="!changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							组织机构数据
						</h2>
					</div>
					<div style="right:5%;position: absolute;z-index: 999999; line-height: 64px;">
						<el-button type="primary" id="additem_plant" @click="addItemPage()">新增记录</el-button>
						<el-select v-model="searchType" clearable placeholder="名称" style="width:100px;">
							<el-option
							  v-for="item in option_search"
							  :key="item.value"
							  :label="item.label"
							  :value="item.value">
							</el-option>
						</el-select>
					    <el-input
						  placeholder="请输入相关搜索内容"
						  icon="search"
						  v-model="searchContent"
						  :on-icon-click="handleIconClick"
						  style="width:200px;">
						</el-input>
					</div>
				</div>
				
				<table class="table-normal database-table table-left" style="width:100%;opacity: 0.8;">
					<thead>
						<tr>
						    <th class="db-station">机构名称</th>
						    <th class="db-level">层级关系</th>
						    <th class="db-id_1">负责人</th>
							<th class="db-way_1">负责人联系方式</th>
							<th class="db-id_2">联络人</th>
							<th class="db-way_2">联络人联系方式</th>
							<th class="db-edit">编辑</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="user in tableData">
						    <td><span :title="user.station" class="fs12">{{user.name}}</td>
						    <td><span :title="user.level" class="fs12">{{user.level}}</td>
						    <td><span :title="user.id_1" class="fs12">{{user.id_1}}</span></td>
							<td><span :title="user.way_1" class="fs12">{{user.way_1}}</span></td>
							<td><span :title="user.id_2" class="fs12">{{user.id_2}}</span></td>
							<td><span :title="user.way_2" class="fs12">{{user.way_2}}</span></td>
							<td><span class="modify" @click="modifyItem($event,user)">修改</span> / <span class="modify" @click="deleteItem($event)">删除</span></td>
						</tr>
					</tbody>
				</table>
				<br/>
				<div>
					<div v-show="totaldata > 10" style="text-align: right;margin-right:5%;">
						<el-pagination
						  @current-change="pageCurrentChange"
						  layout="total,prev, pager, next, jumper"
						  :page-size="10"
						  :total=totaldata>
						</el-pagination>
				    </div>
				</div>
					
			</div>
			</div>
			<!--新增记录界面-->
			<div class="contentbody" v-show="changePage">
			<div class="view-date" style="padding-left: 226px;" id="addItemPage" v-show="changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							组织机构设置
						</h2>
					</div>
				</div>
				<div class="add_item">
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<div class="add_item_baseinfo">
						<div class="item_title">
							<el-row>
								<el-col><span style="margin-left:10px;">基本信息</span></el-col>
							</el-row>
						</div>
						<div class="item_content">
	                        <el-row :gutter="20" class="pt8">
								<el-col :span="9">
									<el-form-item label="机构名称" prop="station" required>
										<el-select v-model="ruleForm.station" placeholder="请选择" v-on:change="somechange()">
										    <el-option label="庐山自然保护区" value="0"></el-option>
										    <el-option label="保护站1" value="1"></el-option>
										    <el-option label="保护站2" value="2"></el-option>
										    <el-option label="保护站3" value="3"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="9">
								    <el-form-item label="层级关系" prop="level" required>
										<el-select v-model="ruleForm.level" placeholder="无">
										    <el-option label="无" value="无"></el-option>
										    <el-option label="庐山自然保护区" value="庐山"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
								<el-col :span="9">
								  	<el-form-item label="负责人" prop="id_1" required>
										<el-select v-model="ruleForm.id_1" placeholder="请选择">
											<el-option
											  v-for="item in peoplelist"
											  :key="item.value"
											  :label="item.label"
											  :value="item.value">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="9">
									<el-form-item label="联系方式" prop="way_1" required>
									    <el-input v-model.trim="ruleForm.way_1"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
						</div>
					</div>
					<div class="add_item_plantinfo">
						<div class="add_item_id">
							<div class="item_title">
								<el-row>
									<el-col><span style="margin-left:10px;">负责人信息</span></el-col>
								</el-row>
							</div>
							<div class="item_content">
								<el-row :gutter="20" class="pt8">
		                            <el-col :span="9">
									  	<el-form-item label="联络人" prop="id_2" required>
											<el-select v-model="ruleForm.id_2" placeholder="请选择">
											    <el-option
												  v-for="item in peoplelist"
												  :key="item.value"
												  :label="item.label"
												  :value="item.value">
												</el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="9">
									  	<el-form-item label="联系方式" prop="way_2" required>
										    <el-input v-model.trim="ruleForm.way_2"></el-input>
										</el-form-item>
									</el-col>
						        </el-row>
						        <el-row :gutter="20" class="pt8">
		                            <el-col :span="9">
		                                <el-form-item label="电子邮箱" prop="email" required>
										    <el-input v-model.trim="ruleForm.email"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="9">
									  	<el-form-item label="邮编" prop="zipcode" required>
										    <el-input v-model.trim="ruleForm.zipcode"></el-input>
										</el-form-item>
									</el-col>
						        </el-row>
								<el-row :gutter="20" class="pt8">
		                            <el-col :span="9">
		                                <el-form-item label="备注" prop="remarks">
			                                <el-input type="textarea" v-model="ruleForm.remarks" style="width:580px"></el-input>
			                            </el-form-item>
	                                </el-col>
							    </el-row>
							</div>
						</div>
						<div class="item_confirm">
							<el-form-item style="margin-left:-100px;" v-show="creatItem">
								<el-button @click="addItem('ruleForm')">创建</el-button>
								<el-button @click="addItemCancel('ruleForm')">取消</el-button>
							</el-form-item>
							<el-form-item style="margin-left:-100px;" v-show="!creatItem">
								<el-button @click="modify('ruleForm')">提交修改</el-button>
								<el-button @click="modifyCancel('ruleForm')">取消修改</el-button>
							</el-form-item>
						</div>
					</div>
				</el-form>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
var app = new Vue({
  el: '#app',
  components: {
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftsystem:leftsystem
  },
  data: {
	once:true,
	changePage:false,
	creatItem:true,
	tableData:[],
	totaldata:0,
    option_search: [
		{
	        value: 'name',
	        label: '名称'
	    }, {
	        value: 'type',
	        label: '类型'
	    }
	],
	searchType: '',
	searchContent:'', 
	dataBox:{},
	peoplelist:[],
	ruleForm: {
	    station:'',
	    level:'',
	    type:'',
	    id_1:'',
	    way_1:'',
	    id_2:'',
	    way_2:'',
	    email:'',
	    Zipcode:''
	},
	rules: {
		station:[
		    { required: true, message: '请选择机构名', trigger: 'change' }
		],
		level:[
		    { required: true, message: '请选择层级关系', trigger: 'change' }
		],
	    id_1: [
	        { required: true, message: '请选择负责人', trigger: 'change' }
	    ],
	    id_2:[
            { required: true, message: '请选择联络人', trigger: 'change' }
	    ],
	    way_1:[
	        { required: true, message: '请输入联系方式'},
		    { type:'number', message: '联系方式必须为数字值'}
		],
	    way_2:[
            { required: true, message: '请输入联系方式'},
		    { type:'number', message: '联系方式必须为数字值'}
	    ],
	    email:[
            { required: true, message: '请输入邮箱'},
		    { pattern:/^(\w)+(\.\w+)*@(\w)+((\.\w{2,3}){1,3})$/, message: '邮箱必须为邮箱形式'}
	    ],
	    zipcode:[
            { required: true, message: '请输入邮编'},
		    { type:'number', message: '邮编必须为数字值'}
	    ],
		remarks: [
	        { required: true, message: '请填写备注', trigger: 'blur' }
	    ]
	}
  },
  methods:{
	  getonce:function(){ 
		/////获取通知公告数据
		
		$.ajax({
			type: "get",
			dataType: "json",
			url: "http://rapapi.org/mockjsdata/24551/organization",
			//data: app.obj,    不做筛选 默认加载全部数据
			beforeSend: function( xhr ) { 
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
			}, 
			success: function (data) {
				if (data != "") {
					app.tableData = data.list;
					app.totaldata = app.tableData.length;
				}
			}
		});
		
	  },
	  //机构人员二级联动
	  somechange:function(){
		  console.log(app.ruleForm.station);
		  //机构人员二级联动
		  //针对app.ruleForm.station的变化 app.ruleForm.peoplelist响应显出归属人员
	  },
	  pageCurrentChange:function(val){
		  //更新页码
		  app.obj.pageIndex = val;
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
				}
		  });
	  },
	  handleIconClick:function(){
		  if(!this.searchType){alert("请选择搜索类型");return}
		  if(!this.searchContent){alert("请输入搜索内容");return}
		  switch(this.searchType){
			  case "station":
				  app.obj.station = this.searchContent;
				  break;
			  case "id":
				  app.obj.id = this.searchContent;
				  break;
			  case "habitat":
				  app.obj.habitat = this.searchContent;
				  break;
		  }
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
			  }else{    //数据为空的提示
				  alert("暂无相关数据") //测试暂做简单处理 后期以页面字段提示
			  }
		  });
	  },
	  //新增记录页面跳转
	  addItemPage:function(){
		  app.changePage = true;
		  app.creatItem = true;
	  },
	  //新增提交
	  addItem(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交创建代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
	  //取消新增
	  addItemCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //修改提交
	  modify:function(formName){
		  this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交修改代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
	  },
	  //取消修改
	  modifyCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //修改记录跳转
	  modifyItem:function(event,user){
		  //遍历？待优化
		  app.dataBox = user;
		  app.creatItem = false;
		  app.ruleForm.station=app.dataBox.name;
		  app.ruleForm.level=app.dataBox.level;
		  app.ruleForm.id_1=app.dataBox.id_1;
		  app.ruleForm.way_1=app.dataBox.way_1;
		  app.ruleForm.id_2=app.dataBox.id_2;
		  app.ruleForm.way_2=app.dataBox.way_2;
		  app.ruleForm.email=app.dataBox.email;
		  app.ruleForm.zipcode=app.dataBox.zipcode;
		  app.changePage = true;
	  },
	  //删除记录
	  deleteItem:function(event){
		  
	  }
  } 
});

app.getonce();
</script>