<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<link rel="stylesheet" href="../../js/skin/layer.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/layer.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=cGT9892RVDdKkeIKM2f1d8pX"></script>
    
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive="work"></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftwork leftactive="wfsjgl"></leftwork>
			<!-- 右侧 --><!--数据管理界面-->
			<div class="contentbody" v-show="!changePage">
			<div class="view-date" style="padding-left: 226px;" id="dataManage" v-show="!changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							违法数据管理
						</h2>
					</div>
					<div style="right:5%;position: absolute;z-index: 999999; line-height: 64px;">
						<el-button type="primary" id="additem_plant" @click="addItemPage()">新增记录</el-button>
						<el-select v-model="searchType" clearable placeholder="请选择" style="width:100px;">
							<el-option
							  v-for="item in option_search"
							  :key="item.value"
							  :label="item.label"
							  :value="item.value">
							</el-option>
						</el-select>
					    <el-input
						  placeholder="请输入相关搜索内容"
						  icon="search"
						  v-model="searchContent"
						  :on-icon-click="handleIconClick"
						  style="width:200px;">
						</el-input>
					</div>
				</div>
				
				<table class="table-normal database-table table-left" style="opacity: 0.8;">
					<thead>
						<tr>
						    <th class="db-11">发生时间</th>
							<th class="db-11">处理时间</th>
							<th class="db-11">违法经度</th>
							<th class="db-11">违法纬度</th>
							<th class="db-9">违法类型</th>
							<th class="db-9">总损失金额(元)</th>
							<th class="db-9">巡护员</th>
							<th class="db-9">管理站</th>
							<th class="db-9">编辑</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="user in tableData">
						    <td><span :title="user.startTime" class="fs12">{{user.startTime}}</span></td>
						    <td><span :title="user.endTime" class="fs12">{{user.endTime}}</span></td>
							<td><span :title="user.lng" class="fs12">{{user.lng}}</span></td>
							<td><span :title="user.lat" class="fs12">{{user.lat}}</span></td>
							<td><span :title="user.type" class="fs12">{{user.type}}</span></td>
							<td><span :title="user.money" class="fs12">{{user.money}}</span></td>  <!--待加入-->
							<td><span :title="user.id" class="fs12">{{user.id}}</span></td>
							<td><span :title="user.station" class="fs12">{{user.station}}</span></td>
							<td><span class="modify" @click="modifyItem($event,user)">修改</span> / <span class="modify" @click="deleteItem($event)">删除</span></td>
						</tr>
					</tbody>
				</table>
				</br>
				<div class="pageChange">
					<div v-show="totaldata > 10">
						<div style="display:inline-block;float:right;margin-right:5%;color:#B7B7BD;">
							<el-pagination
							  @current-change="pageCurrentChange"
							  layout="prev, pager, next, jumper"
							  :page-size="10"
							  :total=totaldata>
							</el-pagination>
						</div>
						<span style="float:right;margin-right:10px;">共<b>{{totaldata}}</b>条数据</span>
					</div>
				</div>
			</div>
		    </div>
			<!--新增记录界面-->
			<div class="contentbody" v-show="changePage">
			<div class="view-date" style="padding-left: 226px;" id="addItemPage" v-show="changePage">
				<div class="view-header-wrap wth-view-header">
					<div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							新增违法活动记录
						</h2>
					</div>
				</div>
				<div class="add_item">
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
					<div class="add_item_baseinfo">
						<div class="item_title">
							<el-row>
								<el-col><span style="margin-left:10px;">违法活动信息</span></el-col>
							</el-row>
						</div>
						<div class="item_content">
	                        <el-row :gutter="20" class="pt8">
								<el-col :span="9">
								  	<el-form-item label="发生时间" required>
									  <el-form-item prop="startTime">
										<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.startTime" style="width: 100%;"></el-date-picker>
									  </el-form-item>
								</el-col>
								<el-col :span="9">
								  	<el-form-item label="发现方式" prop="way" required>
										<el-select v-model="ruleForm.way" placeholder="请选择方式">
										  <el-option label="监控" value="监控"></el-option>
										  <el-option label="人为" value="人为"></el-option>
										  <el-option label="预警" value="预警"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
								<el-col :span="9">
								  	<el-form-item label="响应时间" required>
									  <el-form-item prop="date">
										<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.date" style="width: 100%;"></el-date-picker>
									  </el-form-item>
								</el-col>
								<el-col :span="9">
								  	<el-form-item label="扑灭时间" required>
									  <el-form-item prop="endTime">
										<el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.endTime" style="width: 100%;"></el-date-picker>
									  </el-form-item>
								</el-col>
							</el-row>
								<!--GPS定位-->
								<el-row :gutter="20" class="pt8">
								  <el-col :span="9">
								  	  <el-form-item label="违法类型" prop="type" required>
										<el-select v-model="ruleForm.type" placeholder="请选择类型">
										  <el-option label="砍伐" value="砍伐"></el-option>
										  <el-option label="人为" value="人为"></el-option>
										  <el-option label="预警" value="预警"></el-option>
										</el-select>
									  </el-form-item>
								  </el-col>
								  <el-col :span="8">
								  	 <el-form-item label="GPS" prop="gps">
										<el-input v-model.trim="ruleForm.gps"></el-input>
									 </el-form-item>
								  </el-col>
								  <el-col :span="4">
								  	 <i class="icon iconfont icon-dizhi" style="cursor: pointer;" @click="showGPSmap()"></i>
								  </el-col>
								</el-row>
						</div>
					</div>
					<div class="add_item_plantinfo">
						<div class="item_title">
							<el-row>
								<el-col><span style="margin-left:10px;">违法活动损失金额</span></el-col>
							</el-row>
						</div>
						<div class="item_content">
						    <el-row :gutter="20">
							  <el-col :span="9">
							  	 <el-form-item label="动物损失" prop="animal" required>
									<el-input v-model.trim="ruleForm.animal"></el-input>
								 </el-form-item>
							  </el-col>
							  <el-col :span="9">
							  	 <el-form-item label="植物损失" prop="plants" required>
									<el-input v-model.trim="ruleForm.plants"></el-input>
								 </el-form-item>
							  </el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
							  <el-col :span="9">
							  	 <el-form-item label="设备成本" prop="equipment" required>
									<el-input v-model.trim="ruleForm.equipment"></el-input>
								 </el-form-item>
							  </el-col>
							  <el-col :span="9">
							  	 <el-form-item label="人员成本" prop="personal" required>
									<el-input v-model.trim="ruleForm.personal"></el-input>
								 </el-form-item>
							  </el-col>
							</el-row>
							<el-row :gutter="20" class="pt8">
							  <el-col :span="9">
							  	 <el-form-item label="其他损失" prop="others" required>
									<el-input v-model.trim="ruleForm.others"></el-input>
								 </el-form-item>
							  </el-col>
							  <el-col :span="9">
							  	 <el-form-item label="总损失金额" prop="total" required>
									<el-input v-model.trim="ruleForm.total"></el-input>
								 </el-form-item>
							  </el-col>
							</el-row>
							<el-row :gutter="20">
							</el-row>
						</div>
						<div class="add_item_id">
							<div class="item_title">
								<el-row>
									<el-col><span style="margin-left:10px;">处理违法活动负责人信息</span></el-col>
								</el-row>
							</div>
							<div class="item_content">
								<el-row :gutter="20" class="pt8">
		                            <el-col :span="9">
									  	<el-form-item label="管理站" prop="station" required>
											<el-select v-model="ruleForm.station" placeholder="请选择管理站" v-on:change="somechange()">
											    <el-option label="管理站1" value="管理站1"></el-option>
											    <el-option label="管理站2" value="管理站2"></el-option>
											    <el-option label="管理站3" value="管理站3"></el-option>
											    <el-option label="管理站4" value="管理站4"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="9">
									  	<el-form-item label="巡护员" prop="id">
											<el-select v-model="ruleForm.id" placeholder="请选择巡护员">
											    <el-option
												  v-for="item in peoplelist"
												  :key="item.value"
												  :label="item.label"
												  :value="item.value">
												</el-option>
											</el-select>
										  </el-form-item>
									</el-col>
						        </el-row>
								<el-row :gutter="20" class="pt8">
		                            <el-col :span="9">
		                                <el-form-item label="备注" prop="remarks">
			                                <el-input type="textarea" v-model="ruleForm.remarks" style="width:580px"></el-input>
			                            </el-form-item>
	                                </el-col>
							    </el-row>
							</div>
						</div>
						<div class="item_confirm">
							<el-form-item style="margin-left:-100px;" v-show="creatItem">
								<el-button @click="addItem('ruleForm')">创建</el-button>
								<el-button @click="addItemCancel('ruleForm')">取消</el-button>
							</el-form-item>
							<el-form-item style="margin-left:-100px;" v-show="!creatItem">
								<el-button @click="modify('ruleForm')">提交修改</el-button>
								<el-button @click="modifyCancel('ruleForm')">取消修改</el-button>
							</el-form-item>
						</div>
					</div>
				</el-form>
				</div>
				<!--GPS地图-->
				<div class="selectGPS">
				  <div id="GPSmap"></div>
			    </div>
				</br></br></br></br></br></br></br>
			</div>
			</div>
		</div>
		
	</div>
</body>
</html>
<script>
var app = new Vue({
  el: '#app',
  components: {
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftwork:leftwork
  },
  data: {
	once:true,
	changePage:false,
	creatItem:true,
	tableData:[],
	totaldata:0,
	obj:{station:"全站",pageIndex:1,pageSize:10,behavior:"觅食",id:"张三"},  //五个关键数据：站点、人名、生境、页码、每页数量 后续搜索功能也要用  初始进入默认加载全部数据
    option_search: [
		{
	  value: 'station',
	  label: '巡护站'
	}, {
	  value: 'id',
	  label: '巡护人'
	}
	],
	searchType: '',
	searchContent:'', 
	//addItem
	dataBox:{},
	peoplelist:[],
	ruleForm: {
	  station: '',
	  animal:'',
	  id:'',
	  startTime:'',
	  endTime:'',
	  date:'',
	  weather:'',
	  gps:'',
	  plants:'',
	  chineseName:'',
	  latinName:'',
	  englishName:'',
	  way:'',
	  number:'',
	  times:'',
	  type:'',
	  behavior:'',
	  record:'',
	  remarks:'',
	  personal:'',
	  others:''
	},
	rules: {
	  station: [
		{ required: true, message: '请输入保护站名', trigger: 'blur' },
		{ min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
	  ],
	  id: [
	    { required: true, message: '请输入监测人员', trigger: 'blur' },
	    { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur' }
	  ],
	  date: [
		{ type: 'date', required: true, message: '请选择日期', trigger: 'change' }
	  ],
	  startTime:[
        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
	  ],
	  endTime:[
        { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
	  ],
	  weather: [
		{ required: true, message: '请选择天气', trigger: 'change' }
	  ],
	  gps: [
	    { required: true, message: '请输入gps经纬坐标', trigger: 'blur' }
	  ],
	  animal:[
        { required: true, message: '请输入损失信息'},
	    { type:'number', message: '损失必须为数字值'}
	  ],
	  plants:[
        { required: true, message: '请输入损失信息'},
	    { type:'number', message: '损失必须为数字值'}
	  ],
	  equipment:[
        { required: true, message: '请输入成本信息'},
	    { type:'number', message: '成本必须为数字值'}
	  ],
	  personal:[
        { required: true, message: '请输入成本信息'},
	    { type:'number', message: '成本必须为数字值'}
	  ],
	  others:[
	    { required: true, message: '请输入损失信息'},
	    { type:'number', message: '损失必须为数字值'}
	  ],
	  total:[
        { required: true, message: '请输入损失信息'},
	    { type:'number', message: '损失必须为数字值'}
	  ],
	  number: [
	    { required: true, message: '请输入数量信息'},
	    { type:'number', message: '数量必须为数字值'}
	  ],
	  times: [
		{ required: true, message: '请选择次数', trigger: 'change' }
	  ],
	  type:[
        { required: true, message: '请选择类型', trigger: 'change' }
	  ],
	  way:[
        { required: true, message: '请选择方式', trigger: 'change' }
	  ],
	  behavior:[
        { required: true, message: '请选择行为', trigger: 'change' }
	  ],
	  remarks: [
        { required: true, message: '请填写备注', trigger: 'blur' }
      ],
      record:[
        { required: true, message: '请选择记录', trigger: 'change' }
      ]
	}
  },
  methods:{
	  getonce:function(){ 
		/////获取通知公告数据
		
		$.ajax({
			type: "get",
			dataType: "json",
			url: "http://rapapi.org/mockjsdata/24551/test2",
			//data: app.obj,    不做筛选 默认加载全部数据
			beforeSend: function( xhr ) { 
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
			}, 
			success: function (data) {
				if (data != "") {
					app.tableData = data.list;
					app.totaldata = app.tableData.length;
				}
			}
		});
		
	  },
	  //站人员二级联动
	  somechange:function(){
		  console.log(app.ruleForm.station);
		  //机构人员二级联动
		  //针对app.ruleForm.station的变化 app.ruleForm.peoplelist响应显出归属人员
	  },
	  pageCurrentChange:function(val){
		  //更新页码
		  app.obj.pageIndex = val;
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
				}
		  });
	  },
	  handleIconClick:function(){
		  if(!this.searchType){alert("请选择搜索类型");return}
		  if(!this.searchContent){alert("请输入搜索内容");return}
		  switch(this.searchType){
			  case "station":
				  app.obj.station = this.searchContent;
				  break;
			  case "id":
				  app.obj.id = this.searchContent;
				  break;
			  case "habitat":
				  app.obj.habitat = this.searchContent;
				  break;
		  }
		  //正式使用更改URL
		  $.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
			  }else{    //数据为空的提示
				  alert("暂无相关数据") //测试暂做简单处理 后期以页面字段提示
			  }
		  });
	  },
	  //新增记录页面跳转
	  addItemPage:function(){
		  app.changePage = true;
		  app.creatItem = true;
	  },
	  //打开gps选址
	  showGPSmap:function(){
		  $(".selectGPS").css("display","block");
		  var map = new BMap.Map("GPSmap");
		  var point = new BMap.Point(115.996112, 29.547892);
		  map.enableScrollWheelZoom(); 
	      map.centerAndZoom(point, 15);
		  var marker = new BMap.Marker(point);  // 创建标注
	      map.addOverlay(marker);               // 将标注添加到地图中
	      marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
		  map.addEventListener("mousemove",function(e){  //鼠标移动显示坐标
			  //console.log(e.point.lng + "," + e.point.lat);
		  });
		  map.addEventListener("click",function(e){   //鼠标点击定位坐标
				  //询问框
				layer.confirm('已选定经纬坐标：'+e.point.lng + " / " + e.point.lat, {
				  btn: ['确认定位','重新定位'] //按钮
				}, function(){
					layer.msg('定位成功',{time:700},{icon: 1} );
				  app.ruleForm.gps = e.point.lng + "," + e.point.lat;
				  $(".selectGPS").css("display","none");
				  //layer.msg('的确很重要', {icon: 1});
				}, function(){
				  app.ruleForm.gps ="";
				  layer.msg('请重新定位');
			  });
		  });
	  },
	  //新增提交
	  addItem(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交创建代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
	  //取消新增
	  addItemCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //修改提交
	  modify:function(formName){
		  this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!'); 
			//此处添加提交修改代码
          } else {
            console.log('error submit!!');
            return false;
          }
        });
	  },
	  //取消修改
	  modifyCancel:function(formName){
		  this.$refs[formName].resetFields();
		  app.changePage = false;
	  },
	  //查看记录跳转 
	  checkItem:function(event,user){
		  
	  },
	  //修改记录跳转
	  modifyItem:function(event,user){
		  //遍历？待优化
		  app.dataBox = user;
		  app.creatItem = false;
		  app.ruleForm.station = app.dataBox.station;
		  app.ruleForm.id = app.dataBox.id;
		  app.ruleForm.date = app.dataBox.date;  //需要中国标准时间格式  目前模拟数据格式为yyyy-mm-dd 不适用报错待处理
		  app.ruleForm.endTime = app.dataBox.endTime;
		  //console.log(app.dataBox.endTime); 
		  app.ruleForm.startTime = app.dataBox.startTime;
		  app.ruleForm.way = app.dataBox.way;
		  app.ruleForm.type = app.dataBox.type;
		  app.ruleForm.gps = app.dataBox.gps;
		  app.ruleForm.animal = app.dataBox.animal;
		  app.ruleForm.plants = app.dataBox.plants;
		  app.ruleForm.equipment = app.dataBox.equipment;
		  app.ruleForm.personal = app.dataBox.personal;
		  app.ruleForm.others = app.dataBox.others;
		  app.ruleForm.total = app.dataBox.total;
		  // app.ruleForm.slope = app.dataBox.slope;
		  // app.ruleForm.height = app.dataBox.height;
		  // app.ruleForm.DBH = app.dataBox.DBH;
		  // app.ruleForm.age = app.dataBox.age;
		  // app.ruleForm.HUB = app.dataBox.HUB;
		  // app.ruleForm.place = app.dataBox.place;
		  // app.ruleForm.habitat = app.dataBox.habitat;
		  app.changePage = true;
	  },
	  //删除记录
	  deleteItem:function(event){
		  
	  }
  } 
});

app.getonce();
</script>