<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>生态资源监测及风险管控系统-登录系统</title>
<!-- 引入样式 -->
<!--	<link rel="stylesheet" href="../../css/index.css">-->
<link rel="stylesheet" href="../../css/fonts/iconfont.css">
<!--<link rel="stylesheet" href="../../css/all.css">-->
<link rel="stylesheet" href="../../css/dark.css">
<link rel="stylesheet" href="../../css/login.css">
<!-- 引入组件库 -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../js/vue-echarts.js"></script>
<script src="../../js/vue-resource.1.3.4.js"></script>
<script src="../../js/elementui.js"></script>
<script src="../../js/mock.js"></script>
<script type="text/javascript">
	//ie && ie8 以下的浏览器提示升级
	var ua = navigator.userAgent,ie;
	if(/MSIE/.test(ua)){
		ie = /MSIE (.{3})/.exec(ua);
		if(ie[1] <= 8.0){
			document.getElementById('browser_update').style.display = 'block';
			document.getElementById('login_box').style.display = 'none';
		}
	}
</script>
</head>
<body>
<div id="app" :class = "once?'show':''">
	<div class="per-container">
		<div class="flexbox-container" id="login_box">
			<h1>庐山国家级自然保护区生态资源监测及风险管控系统</h1>
			<div class="flexbox-box">
				<div class="flexbox-box-bd">
					<div class="tab-content clearfix" id="tab">
						<ul>
							<li type="mobile" class="active">系统登录</li>							
						</ul>
					</div>
					<form name="findPwdForm" class="ng-valid ng-dirty">
						<div class="form login">
							<div class="mobile-layer">
								<div class="row">
									<label :class="{'has-text': username.length > 0, 'focus-input': usernameActive}" class="">用户名</label>
									<div class="value">
										<input type="text" v-on:focus="usernameActive = true" v-on:blur="usernameActive = false" autocomplete="off" class="input-account" v-model="username">
									</div>
								</div>
								<div class="row mb0">
									<label :class="{'has-text': password.length > 0, 'focus-input': passwordActive}" class="">密码</label>
									<div class="value pr">
										<input type="password" v-on:focus="passwordActive = true" v-on:blur="passwordActive = false" autocomplete="off" v-model="password" class="input-account s-input code-input ng-valid ng-dirty">
										
									</div>
								</div>
							</div>
						</div>
						<div class="hint-layer"></div>
						<div class="submit-layer">
							<!--<input class="hide-submit" type="submit" @click="login()">-->
							<a class="free-use-btn btn-blue btn-submit" @click="login()"><span>登录</span></a>
						</div>
					</form>
				</div>
				<div class="form-banner">
					<div class="form-banner-img"></div>
				</div>
			</div>
		</div>
		<div id="browser_update" class="lg-box">
			<div class="mask"></div>
			<div class="main">
				<h6>你的浏览器版本过低！</h6>
				<p class="mt24">为了你有更好的使用体验，请先下载安装Chrome浏览器</p>
				<a href="https://www.baidu.com/s?wd=chrome" target="_blank">立即下载</a>
			</div>
		</div>
	</div>
	<div class="personal-footer ng-binding">
		Copyright © 庐山国家级自然保护区
	</div>
</div>
<script>
var app = new Vue({
  el: '#app',
  components: {
    // <my-component> 将只在父模板可用
    chart:VueECharts
  },
  data: {
	once:true,
	password:'',
	username:'', 
	passwordActive:false,
	usernameActive:false,
	isRight:false,
	dialogVisible:false,
	datevalue1:'',
	message:''
  },
  methods:{
	  login:function(){
		if(this.username == 'admin' && this.password =='admin'){
			sessionStorage.username=this.username;
			var startTime = new Date(); 
			sessionStorage.startTime= startTime.getFullYear()+'-'+(startTime.getMonth()+1)+'-'+startTime.getDate()+' '+startTime.getHours()+':'+startTime.getMinutes()+':' +startTime.getSeconds();
			window.location.href = "../1_home/index.html";
		}
	      /*$.post(url,{"username":this.username,"password":this.password},function(res){
			  //账号密码验证成果
			  if(res != "fail") {
				  //载入服务器该账号信息
            	  var dateSesssion = JSON.parse(data);
            	  sessionStorage.name=dateSesssion[0].name;
            	  sessionStorage.department=dateSesssion[0].department;
            	  sessionStorage.area=dateSesssion[0].area;
            	  sessionStorage.type=dateSesssion[0].type;
            	  sessionStorage.tel=dateSesssion[0].tel;
            	  sessionStorage.level=dateSesssion[0].level;
				  //
				  sessionStorage.computerIp=dateSesssion[0].computerIp;   //IP
            	  sessionStorage.username=this.username;       //在线缓存人名 
				  var startTime = new Date();                  //进入时间
            	  sessionStorage.startTime= startTime.getFullYear()+'-'+(startTime.getMonth()+1)+'-'+startTime.getDate()+' '+startTime.getHours()+':'+startTime.getMinutes()+':' +startTime.getSeconds();
				  //尚未录入退出时间和操作模块
				  app.isRight = true;
              }
			  if(app.isRight){
				  //账号验证成果 跳转界面
			  }else{
				  //验证错误
			  }
		  })*/
	  },
	  getonce:function(){
		  
	  }
  }
});
app.getonce();

</script>

	

</body>
</html>