<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=cGT9892RVDdKkeIKM2f1d8pX"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive="work"></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftsystem leftactive="yhrzgl"></leftsystem>
			<!-- 右侧 -->
			<div class="view-date" style="padding-left: 226px;">
				<div class="view-header-wrap wth-view-header" style="z-index: 1">
	                <div class="view-header">
						<h2 class="nowrap with-tail-btn" title="总演示数据">
							用户日志管理
						</h2>
					</div>
		            <div style="left:600px;position: absolute;z-index: 999999; line-height: 64px;">
						<el-select v-model="searchType" clearable placeholder="请选择" style="width:100px;">
							<el-option
							  v-for="item in option_search"
							  :key="item.value"
							  :label="item.label"
							  :value="item.value">
							</el-option>
						</el-select>
					    <el-input
						  placeholder="请输入相关搜索内容"
						  icon="search"
						  v-model="searchContent"
						  :on-icon-click="handleIconClick"
						  style="width:200px;">
						</el-input>
					</div>
			    </div>
			    
			    <table class="table-normal database-table table-center">
					<thead>
						<tr>
							<th class="db-people">用户名</th>
							<th class="db-startTime">进入时间</th>
							<th class="db-endTime">退出时间</th>
							<th class="db-computerIp">计算机IP地址</th>
							<th class="db-workStep">操作模块</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="user in tableData">
							<td>
								<span :title="user.people" class="fs12">{{user.people}}</span>
							</td>
							<td>
								<span :title="user.startTime" class="fs12">{{user.startTime}}</span>
							</td>
							<td>
								<span :title="user.endTime" class="fs12">{{user.endTime}}</span>
							</td>
							<td>
								<span :title="user.computerIp" class="fs12">{{user.computerIp}}</span>
							</td>
							<td>
								<span :title="user.workStep" class="fs12">{{user.workStep}}</span>
							</td>
						</tr>
						<!--<tr>
							<td>共<span>{{totalData[0].total}}</span>条数据</td>
							<td v-show="totalData[0].total > 10">
								<el-pagination
								  @current-change="pageCurrentChange"
								  layout="prev, pager, next, jumper"
								  :page-size="10"
								  :total=totalData[0].total>
								</el-pagination>
							</td>
						</tr>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</body>
</html>
<script>
var app = new Vue({
  el: '#app',
  components: {
    // <my-component> 将只在父模板可用
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftsystem:leftsystem
  },
  data: {
	once:true,
	dialogVisible:false,
	tableData: [],
	//totalData:[],
	//total:0,
	option_search: [{
	  value: 'name',
	  label: '巡护员'
	}, {
	  value: 'station',
	  label: '巡护站'
	}],
	searchType: '',
	searchContent:'', 
  },
  methods:{
	  getonce:function(){ 
		$.ajax({
			type: "get",
			dataType: "json",
			url:"",
			//data: {},
			beforeSend: function( xhr ) { 
				xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded'); 
			}, 
			success: function (data) {
				if (data != "") {
					//
				}
			}
		});
	  },
	  pageCurrentChange:function(val){
		app.obj.pageIndex = val;
		/*$.post(url,data, function(data) {
			 //
		});*/
	  },
	  //搜索
	  handleIconClick:function(){
		  if(!this.searchType){alert("请选择搜索类型");return}
		  if(!this.searchContent){alert("请输入搜索内容");return}
		  switch(this.searchType){
			  case "name":
				  app.obj.name = this.searchType;
				  console.log(app.searchContent);
				  break;
			  case "station":
				  app.obj.station = this.searchType;
				  console.log(app.searchContent);
				  break;
		  }
		  //正式使用更改URL
		  /*$.post('http://' + urlServer.ip + ':' + urlServer.port + '/'+urlServer.servletPatrol,{ byValue: JSON.stringify(app.obj) }, function(data) {
			  if (data != "") {
					app.tableData = data.list;
				    app.totaldata = app.tableData.length
					app.once = true;
					console.log(app.totaldata);
				}
		  });*/
	  }
	  
  } 
});
app.getonce();

</script>