<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	 <script type="text/javascript" src="../../js/layer.js"></script>
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive=""></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftusercenter leftactive="czmm"></leftusercenter>
			<!-- 右侧 -->
			<div class="view-date" style="padding-left: 226px;">
				<div class="view-header-wrap wth-view-header" style="z-index: 1">
					<el-row style="padding:40px 25px;background:#24263E">
						<el-row><span class="chosetip">请选择用户 : </span>
							<el-select v-model="searchStation" clearable placeholder="请选择站点" style="width:150px;" v-on:change="stationchange()">
								<el-option
								  v-for="item in option_station"
								  :key="item.value"
								  :label="item.label"
								  :value="item.value">
								</el-option>
							</el-select>
							<el-select v-model="searchPerson" clearable placeholder="请选择人员" style="width:150px;" v-on:change="personchange()">
								<el-option
								  v-for="item in option_person"
								  :key="item.value"
								  :label="item.label"
								  :value="item.value">
								</el-option>
							</el-select><button class="reSetPassBtn" style="margin-left:10px;" @click="checkUser()">查看</button>
						</el-row>
						<span class="line"></span>
						<el-row>
						    <el-row><span style="font-size: 18px;color:#B7B7BD;">基本信息</span></el-row>
						    <el-row style="margin-top:20px;">
						    	<el-col :span="2"><div class="info_img"><img src="../../img/tcq.png"></div></el-col>
								<el-col :span="6">
									<div class="info_baseinfo">
										<p>用户名 : {{user.name}}</p>
										<p>用户账号 : {{user.username}}</p>
										<p>用户密码 : {{user.password}}</p>
									</div>
								</el-col>
								<el-col :span="6">
								<div class="info_baseinfo">
									<p>管理站点 : {{user.station}}</p>
									<p>联系方式 : {{user.tel}}</p>
									<p>电子邮箱 : {{user.email}}</p>
								</div>
								</el-col>
								<el-col :span="6">
								<div class="info_baseinfo">
									<p>用户状态 : {{user.state}}</p>
									<p>启用状态 : {{user.usestate}}</p>
								</div>
								</el-col>
						    </el-row>
							<el-row><button class="reSetPassBtn" style="float:right;margin-right:100px;" @click="resetPassword">重置密码</button></el-row>
						</el-row>
					</el-row>
			    </div>
			</div>
		</div>
	</div>
	
</body>
</html>
<script>

var app = new Vue({
  el: '#app',
  components: {
    // <my-component> 将只在父模板可用
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftusercenter:leftusercenter
  },
  data: {
	once:true,
	user:{
		name:"李雷",
		username:"lilei",
		password:"123",
		type:"超级管理员",
		img:"",
		station:"站点一",
		state:"正常",
		usestate:"启用",
		tel:"XXX-XXXX-XXXX",
		email:"XXXXXX@XXX.XXX"
	},
	option_station: [{
	  value: 'station_1',
	  label: '站点一'
	}, {
	  value: 'station_2',
	  label: '站点二'
	}],
	searchStation: '',
	option_person: [/*{
	  value: 'zhangsan',
	  label: '张三'
	}, {
	  value: 'lisi',
	  label: '李四'
	}*/],
	searchPerson: '',
  },
  methods:{
	  getonce:function(){ 
	      //请求所有人员的数据贮存于dataBox;
	  },
	  stationchange:function(){
		  console.log(app.searchStation);
		  //筛选dataBox 条件为app.searchStation 重置人员选择项app.option_person
	  },
	  personchange:function(){
		  if(!app.searchStation){alert("请先选择站点")}
	  },
	  checkUser:function(){
		  if(!app.searchStation || !app.searchPerson){
			  alert("请选择");
		  }else{
			  console.log(app.searchStation);
			  console.log(app.searchPerson);
			  //从数据中筛选数据  条件为  app.searchStation 、app.searchPerson
			  
		  }
		  
	  },
	  resetPassword:function(){
		  //加载层-风格3
			layer.load(1);
			//此处演示关闭
			setTimeout(function(){
			  layer.closeAll('loading');
			  app.user.password = "123123"; 
				//上传服务器修改信息
				  /*$.post(url,data,function(){

				  });*/
			  layer.msg('重置成成功');
			}, 1000);
	  },
  }
});
app.getonce();

	
</script>