<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>生态资源监测及风险管控系统-通知公告</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../../css/index.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/all.css">
	<link rel="stylesheet" href="../../css/dark.css">
	<!-- 引入组件库 -->
	<script src="../../js/include.js"></script>
	<script src="../../js/config.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/vue-echarts.js"></script>
	<script src="../../js/vue-resource.1.3.4.js"></script>
	<script src="../../js/elementui.js"></script>
	<script src="../../js/mock.js"></script>
	<script src="../../js/url.js"></script>
	 <script type="text/javascript" src="../../js/layer.js"></script>
</head>
<body>
	<div id="app" :class = "once?'show':''">
		<myheader navactive=""></myheader>
		<!-- 内容区域 -->
		<div class="main header-wraper-height">
			<!-- 左侧 -->
			<leftusercenter leftactive="grzl"></leftusercenter>
			<!-- 右侧 -->
			<div class="view-date" style="padding-left: 226px;">
				<div class="view-header-wrap wth-view-header" style="z-index: 1">
					<el-row style="padding:40px 25px;background:#24263E">
						<div class="info_img">
						    <img id="info_img" src="#">
						</div>
						<div class="info_baseinfo">
							<p style="font-size: 18px;">{{user.name}}</p>
							<p>用户名 : {{user.username}} ({{user.type}})</p>
							<p><span>修改头像</span>
							<span @click="changePassword()">修改密码</span></p>
							<input type="file" id="mytest" v-on:change="showimg()">
						</div>
					</el-row>
		            <el-row style="margin-top:10px;padding:20px 25px;background:#24263E">
		                <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
							<p class="info_title"><span>基础信息</span><span><b v-show="!edit" @click="editInfo()">编辑</b><b v-show="edit" @click="updateInfo('ruleForm')">完成</b><b v-show="edit" @click="cancelEdit('ruleForm')">取消</b></span></p>
							<el-row :gutter="200">
								<el-col :span="9"><div v-show="!edit" class="info_item">管理站点 : <span>{{user.station}}</span></div>
									<span v-show="edit"><el-form-item label="管理站点" prop="station">
										<el-input v-model="ruleForm.station"></el-input>
									  </el-form-item></span>
								</el-col>
								<el-col :span="9"><div v-show="!edit" class="info_item">用户状态 : <span>{{user.state}}</span></div>
								    <span v-show="edit"><el-form-item label="用户状态" prop="state">
										<el-input v-model="ruleForm.state"></el-input>
									  </el-form-item></span>
							    </el-col>
							</el-row>
							<el-row :gutter="200">
								<el-col :span="9"><div v-show="!edit" class="info_item">联系方式 : <span>{{user.tel}}</span></div>
								    <span v-show="edit"><el-form-item label="联系方式" prop="tel">
										<el-input v-model="ruleForm.tel"></el-input>
									  </el-form-item></span>
								</el-col>
								<el-col :span="9"><div v-show="!edit" class="info_item">启用状态 : <span>{{user.usestate}}</span></div>
								    <span v-show="edit"><el-form-item label="启用状态" prop="usestate">
										<el-input v-model="ruleForm.usestate"></el-input>
									  </el-form-item></span>
								</el-col>
							</el-row>
							<el-row :gutter="200">
								<el-col :span="9"><div v-show="!edit" class="info_item">电子邮箱 : <span>{{user.email}}</span></div>
								    <span v-show="edit"><el-form-item label="电子邮箱" prop="email">
										<el-input v-model="ruleForm.email"></el-input>
									  </el-form-item></span>
								</el-col>
							</el-row>	            	    	
	            	    </el-form>
		            </el-row>
			    </div>
			    <div class="mask" v-show="mask"></div>
			    <div class="changePassword" v-show="changePass">
			    	<p style="text-align:center;">经检测，您的账号处于安全状态，请放心操作</p>
					 <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
					   <el-form-item label="新密码密码" prop="pass">
						 <el-input v-model="ruleForm2.pass" auto-complete="off"></el-input>
					   </el-form-item>
					   <el-form-item label="再次输入新密码" prop="checkPass">
						 <el-input v-model="ruleForm2.checkPass" auto-complete="off"></el-input>
					   </el-form-item>
					   <el-form-item>
						 <el-button type="primary" @click="submitForm('ruleForm2')">更改</el-button>
						 <el-button @click="resetForm('ruleForm2')">取消</el-button>
					   </el-form-item>
					 </el-form>
			    </div>
			</div>
		</div>
	</div>
	
</body>
</html>
<script>
//修改头像

  
//修改密码验证
  var validatePass = (rule, value, callback) => {
	if (value === '') {
	  callback(new Error('请输入密码'));
	} else {
	  if (this.ruleForm2.checkPass !== '') {
		this.$refs.ruleForm2.validateField('checkPass');
	  }
	  callback();
	}
  };
  var validatePass2 = (rule, value, callback) => {
	if (value === '') {
	  callback(new Error('请再次输入密码'));
	} else if (value !== this.ruleForm2.pass) {
	  callback(new Error('两次输入密码不一致!'));
	} else {
	  callback();
	}
  };
var app = new Vue({
  el: '#app',
  components: {
    // <my-component> 将只在父模板可用
    chart:VueECharts,
	myheader:myheader,
	myfooter:myfooter,
	leftusercenter:leftusercenter
  },
  data: {
	once:true,
	edit:false,
	mask:false,
	changePass:false,
	user:{
		name:"李雷",
		username:"lilei",
		type:"超级管理员",
		img:"",
		station:"站点一",
		state:"正常",
		usestate:"启用",
		tel:"XXX-XXXX-XXXX",
		email:"XXXXXX@XXX.XXX"
	},
	ruleForm: {
	    station: '',
	    state: '',
	    tel: '',
	    usestate: '',
		email:'',
	},
	rules: {
	    station: [
		  { required: true, message: '请输入站点名', trigger: 'blur' },
			{ min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur' }
	    ],
		state: [
		  { required: true, message: '请输入用户状态', trigger: 'blur' }
	    ],
		tel: [
		  { required: true, message: '请输入联系方式', trigger: 'blur' }
	    ],
		usestate: [
		  { required: true, message: '请输入启用状态', trigger: 'blur' }
	    ],
		email: [
		  { required: true, message: '请输入邮箱', trigger: 'blur' }
	    ],
	},
	validatePass:window.validatePass,
	validatePass2:window.validatePass2,
	ruleForm2:{
		pass:"",
		checkPass:"",
	},
	rules2:{
		pass: [
            { validator: validatePass, trigger: 'blur' }
	    ],
	    checkPass: [
		  { validator: validatePass2, trigger: 'blur' }
	    ],
	},
	 
  },
  methods:{
	  getonce:function(){ 
	      
	  },
	  //修改头像
	  showimg:function(){
		  var fileObj = $("#mytest")[0];
		  var windowURL = window.URL || window.webkitURL;
		  var dataURL;
		  var $img = $("#info_img");
		  console.log(fileObj.files[0]);
		  dataURL = windowURL.createObjectURL(fileObj.files[0]);
		  console.log(dataURL);
		  $img.attr('src',dataURL);
		  /*$.post(url,data,function(){
			  //修改路径上传服务器
		  });*/
	  },
	  //修改密码
	  changePassword:function(){
	      app.mask = true;
		  app.changePass = true;
      },
	  submitForm:function(formName){
		  this.$refs[formName].validate((valid) => {
			  if (valid) {
				//异步提交新密码
			  } else {
				console.log('error submit!!');
				return false;
			  }
			});
	  },
	  resetForm:function(formName) {
        this.$refs[formName].resetFields();
		app.mask = false;
		app.changePass = false;
      },
	  
	  //编辑信息
	  editInfo:function(){
		  app.edit = true;
		  app.ruleForm.station = app.user.station;
		  app.ruleForm.state = app.user.state;
		  app.ruleForm.tel = app.user.tel;
		  app.ruleForm.usestate = app.user.usestate;
		  app.ruleForm.email = app.user.email;
	  },
	  updateInfo:function(formName){
		  this.$refs[formName].validate((valid) => {
			  if (valid) {
				//上传服务器更新资料
				  //$.post(url,{"username":"lilei"},function(res){})
				  app.edit = false;
			  } else {
				console.log('error submit!!');
				return false;
			  }
			});
	  },
	  cancelEdit:function(formName){
		  app.edit = false;
		  this.$refs[formName].resetFields();
	  }
  }
});
app.getonce();

	
</script>